@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF-Pro';
    src: url('./fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Thin';
    src: url('./fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('./fonts/SF-Pro-Display-Bold.otf') format('opentype');
}


